





$blue: #DDEDFF;
$dark-blue: #0087FF;

$yellow: #FEF0B2;
$dark-yellow: #FFBD00; 

$pink: #FAD2E1;
$dark-pink: #F84F7F;

$purple: #DFCCFF;
$dark-purple: #7F51F4;

@mixin clr-panel($color1, $color2){
    border: 1px solid $color2;
    background-color: $color1;
    color: $color2;
}

body {
  /*margin: 4rem 0;*/
}

h1 {
  padding: 2rem;
}
 
h4 {
  margin-bottom:2rem;
  margin-top: 3rem;
}

.log {
  height: 300px;  
  overflow-y: scroll;
}



.progress-viewer {
  height: 300px;
}

.panel {
  border-radius: 0.3rem;
  padding: 2rem;
  margin-bottom: 1rem;
}

.panel.panel-blue {
  background-color: #DDEDFF;
  border: 1px solid #0087FF;
  /*color: #0087FF;*/
}

.panel.panel-yellow {
  background-color: #FEF0B2;
  border: 1px solid #FFBD00;
  /*color: #0087FF;*/
}

.panel.panel-pink {
  background-color: #FAD2E1;
  border: 1px solid #F84F7F;
  /*color: #F84F7F;*/
}

/* ---------------- */


.progress-label {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: small;
}

.progress {
  margin-top: 15px;
  margin-bottom: 15px;
}

